In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Assignment2/AirQuality_Data.csv")

In [3]:
data.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,9.0,9.0,3.0,17.0,300.0,89.0,-0.5,1024.5,-21.4,0.0,NNW,5.7,Dongsi
1,2,2013,3,1,1,4.0,4.0,3.0,16.0,300.0,88.0,-0.7,1025.1,-22.1,0.0,NW,3.9,Dongsi
2,3,2013,3,1,2,7.0,7.0,NaN,17.0,300.0,60.0,-1.2,1025.3,-24.6,0.0,NNW,5.3,Dongsi
3,4,2013,3,1,3,3.0,3.0,5.0,18.0,NaN,NaN,-1.4,1026.2,-25.5,0.0,N,4.9,Dongsi
4,5,2013,3,1,4,3.0,3.0,7.0,NaN,200.0,84.0,-1.9,1027.1,-24.5,0.0,NNW,3.2,Dongsi

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34314 non-null  float64
 6   PM10     34511 non-null  float64
 7   SO2      34401 non-null  float64
 8   NO2      33463 non-null  float64
 9   CO       31867 non-null  float64
 10  O3       34400 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34986 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

Drop row number, dates, station, and wind direction.

In [5]:
data = data.drop(['No', 'station', 'year', 'month', 'day', 'hour', 'wd'], axis=1)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PM2.5   34314 non-null  float64
 1   PM10    34511 non-null  float64
 2   SO2     34401 non-null  float64
 3   NO2     33463 non-null  float64
 4   CO      31867 non-null  float64
 5   O3      34400 non-null  float64
 6   TEMP    35044 non-null  float64
 7   PRES    35044 non-null  float64
 8   DEWP    35044 non-null  float64
 9   RAIN    35044 non-null  float64
 10  WSPM    35050 non-null  float64
dtypes: float64(11)
memory usage: 2.9 MB

Impute

In [7]:
data.isnull().sum()

PM2.5     750
PM10      553
SO2       663
NO2      1601
CO       3197
O3        664
TEMP       20
PRES       20
DEWP       20
RAIN       20
WSPM       14
dtype: int64

In [8]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer()

In [9]:
data["PM2.5"]=imputer.fit_transform(data[["PM2.5"]])
data["PM10"]=imputer.fit_transform(data[["PM10"]])
data["SO2"]=imputer.fit_transform(data[["SO2"]])
data["NO2"]=imputer.fit_transform(data[["NO2"]])
data["CO"]=imputer.fit_transform(data[["CO"]])
data["O3"]=imputer.fit_transform(data[["O3"]])
data["TEMP"]=imputer.fit_transform(data[["TEMP"]])
data["PRES"]=imputer.fit_transform(data[["PRES"]])
data["DEWP"]=imputer.fit_transform(data[["DEWP"]])
data["RAIN"]=imputer.fit_transform(data[["RAIN"]])
data["WSPM"]=imputer.fit_transform(data[["WSPM"]])

In [10]:
data.isnull().sum()

PM2.5    0
PM10     0
SO2      0
NO2      0
CO       0
O3       0
TEMP     0
PRES     0
DEWP     0
RAIN     0
WSPM     0
dtype: int64

Split

In [11]:
x=data.drop(["PM2.5"], axis=1)
y=data["PM2.5"]

In [12]:
x.head()

,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
0,9.0,3.000000,17.000000,300.000000,89.000000,-0.5,1024.5,-21.4,0.0,5.7
1,4.0,3.000000,16.000000,300.000000,88.000000,-0.7,1025.1,-22.1,0.0,3.9
2,7.0,18.531107,17.000000,300.000000,60.000000,-1.2,1025.3,-24.6,0.0,5.3
3,3.0,5.000000,18.000000,1330.069131,57.210637,-1.4,1026.2,-25.5,0.0,4.9
4,3.0,7.000000,53.699443,200.000000,84.000000,-1.9,1027.1,-24.5,0.0,3.2

In [13]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PM10    35064 non-null  float64
 1   SO2     35064 non-null  float64
 2   NO2     35064 non-null  float64
 3   CO      35064 non-null  float64
 4   O3      35064 non-null  float64
 5   TEMP    35064 non-null  float64
 6   PRES    35064 non-null  float64
 7   DEWP    35064 non-null  float64
 8   RAIN    35064 non-null  float64
 9   WSPM    35064 non-null  float64
dtypes: float64(10)
memory usage: 2.7 MB

Stratify

In [14]:
from sklearn.model_selection import train_test_split
xTrain, xTest, yTrain, yTest = train_test_split(x,y,test_size=0.2, random_state=0)

Regressions

In [15]:
from sklearn.metrics import mean_squared_error

In [16]:
from sklearn.linear_model import LinearRegression
linearRegressorModel = LinearRegression()
linearRegressorModel.fit(xTrain, yTrain)
linearPred = linearRegressorModel.predict(xTest)

In [17]:
from sklearn.linear_model import Ridge
ridgeModel = Ridge()
ridgeModel.fit(xTrain, yTrain)
ridgePred = ridgeModel.predict(xTest)

In [18]:
from sklearn.linear_model import Lasso
lassoModel = Lasso()
lassoModel.fit(xTrain, yTrain)
lassoPred = lassoModel.predict(xTest)

In [19]:
from sklearn.linear_model import ElasticNet
elasticNetModel = ElasticNet()
elasticNetModel.fit(xTrain, yTrain)
elasticPred = elasticNetModel.predict(xTest)

In [20]:
from sklearn.linear_model import SGDRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

sgdModel = make_pipeline(StandardScaler(), SGDRegressor(max_iter=1000, tol=1e-3, eta0=0.01))
sgdModel.fit(xTrain, yTrain)
sgdPred = sgdModel.predict(xTest)

Table

In [21]:
from prettytable import PrettyTable
myTable = PrettyTable(["Model", "Training_score", "Test_score", "RMSE"])

In [22]:
myTable.add_row(["Linear Regression", 
                 linearRegressorModel.score(xTrain, yTrain), 
                 linearRegressorModel.score(xTest, yTest),
                 mean_squared_error(yTest, linearPred, squared=False)])
myTable.add_row(["Ridge", 
                 ridgeModel.score(xTrain, yTrain), 
                 ridgeModel.score(xTest, yTest),
                 mean_squared_error(yTest, ridgePred, squared=False)])
myTable.add_row(["Lasso", 
                 lassoModel.score(xTrain, yTrain), 
                 lassoModel.score(xTest, yTest),
                 mean_squared_error(yTest, lassoPred, squared=False)])
myTable.add_row(["ElasticNet", 
                 elasticNetModel.score(xTrain, yTrain), 
                 elasticNetModel.score(xTest, yTest),
                 mean_squared_error(yTest, elasticPred, squared=False)])
myTable.add_row(["Stochastic Gradient Descent", 
                 sgdModel.score(xTrain, yTrain), 
                 sgdModel.score(xTest, yTest),
                 mean_squared_error(yTest, sgdPred, squared=False)])

In [23]:
print(myTable)

+-----------------------------+--------------------+--------------------+-------------------+
|            Model            |   Training_score   |     Test_score     |        RMSE       |
+-----------------------------+--------------------+--------------------+-------------------+
|      Linear Regression      | 0.8591987400920089 | 0.8350304410035662 | 34.93773110800067 |
|            Ridge            | 0.8591987400918963 | 0.8350304348569527 | 34.93773175887447 |
|            Lasso            | 0.8591111804130677 | 0.8346815816637665 | 34.97465281962357 |
|          ElasticNet         | 0.8591390846784002 | 0.8347865539167023 | 34.96354712696564 |
| Stochastic Gradient Descent | 0.8587958593276642 | 0.8353108581822586 | 34.90802469758101 |
+-----------------------------+--------------------+--------------------+-------------------+

Stochastic Gradient Descent is the best with the lowest error.